extends ../../layout/default.pug 
include ../../mixins/box-alert.pug
include ../../mixins/box-head.pug

block main 

  .container.my-5
    .row.justify-content-center
      .col-8
        h1.text-center Lấy lại mật khẩu
        form(action="/user/password/forget" method="POST")
          .form-group.mb-4
            label(for="email") Email
            input#email.form-control(
              type="email", 
              name="email", 
              required
            )

          .form-group
            button.btn.btn-primary.btn-block(type="submit")
              | Gửi mail xác nhận