extends ../../layout/default.pug 
include ../../mixins/box-alert.pug
include ../../mixins/box-head.pug

block main 
  +box-alert-error(5000)

  .container.my-5
    .row.justify-content-center
      .col-8
        h1.text-center Đổi mật khẩu 
        form(action=`/user/password/reset` method="POST")
          .form-group.mb-4
            label(for="password") New password:
            input#password.form-control(
              type="password", 
              name="password", 
              required
            )

          .form-group.mb-4
            label(for="confirmPassword") Confirm password: 
            input.form-control(
              type="password", 
              name="confirmPassword", 
              required
            )

          .form-group
            button.btn.btn-primary.btn-block(type="submit")
              | Reset password