header.header 
  .contaier 
    .row.align-item-center
      .col-3 
        a(href="/admin/dashboard") 
          <i class="fa-solid fa-user-tie"></i> 
      .col-9.text-end
        a(href="") #{user.fullName}
