sider.sider 
  .inner-menu 
    ul 
      li  
        a(href=`/admin/dashboard`) Dashboard
      if role.permissions[0].includes("product_view")
        li 
          a(href=`/admin/products`) Products
      if role.permissions[0].includes("product-category_view")
        li 
          a(href=`/admin/category`) Category
      if role.permissions[0].includes("role_view")
        li
          a(href="/admin/role") Roles 
      if role.permissions[0].includes("permission_view")
        li 
          a(href="/admin/role/permission") permission
      if role.permissions[0].includes("account_view")
        li  
          a(href="/admin/account") account
  .box-logout 
    a(href="/admin/auth/logout" class = "box-login") 
      span Đăng xuất
      <i class="fa-solid fa-right-from-bracket"></i> 
