sider.sider 
  .inner-menu 
    ul 
      li  
        a(href=`/admin/dashboard`) Dashboard
      li 
        a(href=`/admin/products`) Products
      li 
        a(href=`/admin/category`) Category
      li
        a(href="/admin/role") Roles 
      li 
        a(href="/admin/role/permission") permission
      li  
        a(href="/admin/account") account
  .box-logout 
    a(href="/admin/auth/logout" class = "box-login") 
      span Đăng xuất
      <i class="fa-solid fa-right-from-bracket"></i> 
