doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css")
    link(rel="stylesheet" href="/client/css/boostrap.css")
    link(rel="stylesheet" href="https://unpkg.com/file-upload-with-preview/dist/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.css")
    link(rel="stylesheet" href="/client/css/base.css")
    link(rel="stylesheet" href="/client/css/style.css")

  body 
    include ../partials/header.pug 

    block main 

    include ../partials/footer.pug 

    script(src="/client/js/boostrap.js") 
    //- socket
    script(src="/socket.io/socket.io.js")
    script(src="/client/js/socket.js") 


    script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js")  

    script( type = "module" src="https://unpkg.com/file-upload-with-preview/dist/index.js") 

    //- config viewer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.min.js") 

    script(type = "module" src="/client/js/chat.js")

    script(src="/client/js/script.js") 


