header 
  .header
    .container 
      .header-box
        .row 
          .col-3 
            .inner-logo 
              img(src="/client/image/logo.png" alt="")
          .col-9
            .inner-menu 
              ul 
                li 
                  a(href="/") Home 
                li(class = "sub-menu")
                  a(href="/products") Products  
                  ul 
                    if categoryMiddleware
                      each category in categoryMiddleware
                        li
                          a(href=`/products/${category.slug}`) #{category.title}
                    else
                      li Không có danh mục nào


