extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/box-product.pug

block main 

  .container
    .row
      .col-12
        +box-head("Sản phẩm nổi bật")

    +box-product(products)
