extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/box-alert.pug
include ../../mixins/box-product.pug

block main 
  +box-alert-success(3000)
  +box-alert-error(3000)
  +box-alert-warning(3000)

  .container.my-3
    .row
      .col-12
        +box-head("Danh sách sản phẩm")

  +box-product(products)



