mixin formSearch(keyword)
  form( id = "form-search" method="GET")
    .input-group
      input(
        type="text",
        class="form-control",
        name="keyword",
        placeholder="Tìm kiếm sản phẩm..."
        value = keyword ? keyword : ''
        ,
      )
      button(type="submit" class="btn btn-primary") <i class="fa-solid fa-magnifying-glass"></i>