extends ../../layout/default.pug
include ../../mixins/box-head.pug

block main 

  +box-head("Request add friend")
  .container 
    include ../../partials/list-btn-user.pug 

    .row 
      .col-12 
        each user in users
          .col-6
            div(class = "box-user add")
              .inner-avatar
                img(src=(user.avatar ? user.avatar : "/client/image/user-avatar.png"), alt=user.fullName)
              .inner-info
                .inner-name #{user.fullName}
                .inner-buttons
                  button.btn.btn-sm.btn-primary.m-1(
                    btn-add-friend=user.id
                  ) Kết bạn
                  button.btn.btn-sm.btn-secondary.m-1(
                    btn-cancel-friend=user.id
                  ) Hủy


block script 
  script(src="/client/js/users.js") 



